[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "<2.3,>=2.2.10"
social-auth-app-django = "*"
django-reversion = "*"
"psycopg2-binary" = "<2.9,>=2.8.6"
bokeh = ">=1.2,<1.3"
boto3 = "*"
requests = "*"
"django-bootstrap4" = "*"
ghorgs = {git = "https://github.com/monkut/github-org-manager.git",editable = true}
qlu = {git = "https://github.com/monkut/qlu-scheduler.git@0.2.5",editable = true}
pandas = ">=1.3.3,<1.4"
zappa = "*"
django-storages = "*"
arrow = ">=0.15.6,<0.16.0"
placebo = "<0.10.0"
jinja2 = "<3.1.0"
django-admin-rangefilter = "*"

[dev-packages]
coverage = "*"
flake8 = "*"
pylint = "*"
pydocstyle = "*"
mypy = "*"

[requires]
python_version = "3.8"
