{% extends "admin/change_list.html" %}

{% block object-tools %}
     <table>
        {% for org_name, user_data in summary.items %}
            {% for username, user_info in user_data.items %}
                {% if forloop.counter == 1 %}
                    <thead>
                        <tr>
                            <th colspan="8">{{ org_name }} ( 月稼働超過 {{ monthly_exceed_percentage }}% )</th>
                        </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>username</td>
                        {% for month in months %}
                            <td>{{ month }}月</td>
                        {% endfor %}
                        <td><i>missing</i></td>
                    </tr>
                    <tr>
                        <td><i>expected</i></td>
                        {% for month, value in expected.items %}
                            <td><i>{{value}}</i></td>
                        {% endfor %}
                        <td><i>-</i></td>
                    </tr>
                {% endif %}
                <tr>
                    <td>{{ username }}</td>
                    {% for month, value in user_info.items %}
                        {% if value.1 %}
                            <td style="color:rgb(255,0,0);"><b>{{ value.0 }}</b></td>
                        {% else %}
                            <td>{{ value.0 }}</td>
                        {% endif %}
                    {% endfor %}
                </tr>
            {% endfor %}
            </tbody>
        {% endfor %}
    </table>
    <br/>
    {{ block.super }}
{% endblock %}
