{% extends "admin/change_form.html" %}
{% load i18n %}
{# "プロジェクトを追加" button rendered under the read-only projects inline. The href #}
{# (add_project_url) is built in KippoCustomerAdmin.change_view and redirects to the #}
{# ActiveKippoProject add form, prefilled with this customer and returning here on save. #}
{% block after_related_objects %}{{ block.super }}
{% if add_project_url %}
<div class="submit-row" style="text-align: left;">
    <a href="{{ add_project_url }}" class="addlink">{% translate "プロジェクトを追加" %}</a>
</div>
{% endif %}
{% endblock %}
