{% extends "projects/base.html" %}

{% block title %}Kippo: In-Progress Tasks{% endblock %}

{% block bootstrap4_extra_head %}
    <link rel="stylesheet" href="css/styles.css?v=1.0">
    {% if chart_script %}
        <link rel="stylesheet" href="https://cdn.pydata.org/bokeh/release/bokeh-1.2.0.min.css" type="text/css" />
    {% endif %}
{% endblock %}

{% block bootstrap4_content %}
    {% if chart_div %}
        <h1><a href="{{URL_PREFIX}}/tasks/">Active Tasks</a> ( <a href="{{URL_PREFIX}}/tasks/?github_login={{ tasks.0.assignee.github_login }}">{{ tasks.0.assignee.github_login }}</a>) </h1>
    {% else %}
        <h1><a href="{{URL_PREFIX}}/tasks/">Active Tasks</a></h1>
    {% endif %}

  {% if latest_effort_date %}
      <h4>Latest Effort Date: {{ latest_effort_date }}</h4>
  {% endif %}

  {% if chart_div %}
    <center>
        {{ chart_div |safe }}
     </center>
  {% endif %}

  {{ task_state_counts }}

  <table class="table table-striped">
      <caption>Active Member Tasks for Last 2 Weeks</caption>
      <thead class="thead-dark">
        <tr>
            <th scope="col">Assignee</th>
            <th scope="col">Project</th>
            <th scope="col">Last 2 weeks Effort (hours)</th>
            <th scope="col">State</th>
            <th scope="col">Task</th>
            <th scope="col">Estimate (Staff Days)</th>
            <th scope="col">Latest Status</th>
        </tr>
      </thead>
    {% for task in tasks %}
        <tr>
            {% if task.assignee %}
                <td>
                    {{ task.assignee.first_name }} {{ task.assignee.last_name }}
                    (<a href="{{URL_PREFIX}}/tasks/?github_login={{ task.assignee.github_login }}">{{ task.assignee.github_login }}</a>)
                </td>
            {% else %}
                <td></td>
            {% endif %}
            <td>
                {% if task.project.slug %}
                    <a href="{{ task.project.get_absolute_url }}">{{ task.project.name }}</a>
                {% else %}
                    {{ task.project.name }}
                {% endif %}
                {% if task.project.github_project_url %}
                    ( <a href="{{ task.project.github_project_url }}">github</a> )
                {% endif %}
            </td>
            {% for username, effort_total in user_effort_totals.items %}
                {% if task.assignee %}
                    {% if task.assignee.username == username %}
                        <td>
                            <progress value="{{ task.hours_spent_sum_over_days }}" max="{{ effort_total }}"></progress>
                            <font color="#e6e6e6">
                                <i>{{ task.effort_days_remaining }}/{{ effort_total }}</i>
                            </font>
                        </td>
                    {% endif %}
                {% endif %}
            {% endfor %}
            <td>{{ task.latest_kippotaskstatus.state }}</td>
            {% if task.github_issue_html_url %}
                <td class="w-50"><a href="{{ task.github_issue_html_url }}">{{ task.title }}</a></td>
            {% else %}
                <td class="w-50">{{ task.title }}</td>
            {% endif %}
            <td>{{ task.latest_kippotaskstatus.estimate_days }}</td>
            {% if task.latest_kippotaskstatus.comment %}
                <td>{{ task.latest_kippotaskstatus.comment  | linebreaks |urlize }}</td>
            {% else %}
                <td></td>
            {% endif %}
        </tr>
    {% endfor %}
  </table>
{% endblock %}

{% if chart_script %}
    {% block bootstrap4_extra_script %}
      <script type="text/javascript" src="https://cdn.pydata.org/bokeh/release/bokeh-1.2.0.min.js"></script>
      {{ chart_script|safe }}
    {% endblock %}
{% endif %}