{% extends "projects/base.html" %}

{% block title %}Kippo: In-Progress Tasks{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="css/styles.css?v=1.0">
{% endblock %}

{% block content %}
  <h1><a href="{{URL_PREFIX}}/tasks/">Active Tasks</a></h1>

    {# TODO: fix this #}
    {{ task_state_counts }}

  <table>
      <caption>Active Member Tasks for Last 2 Weeks</caption>
    <tr>
        <th>Assignee</th>
        <th>Project</th>
        <th>Last 2 weeks Effort (hours)</th>
        <th>State</th>
        <th>Task</th>
        <th>Estimate (Staff Days)</th>
        <th>Latest Status</th>
    </tr>
    {% for task in tasks %}
        <tr>
            {% if task.assignee %}
                <td>
                    {{ task.assignee.first_name }} {{ task.assignee.last_name }}
                    (<a href="{{URL_PREFIX}}/tasks/?github_login={{ task.assignee.github_login }}">{{ task.assignee.github_login }}</a>)
                </td>
            {% else %}
                <td></td>
            {% endif %}
            <td>
                {% if task.project.slug %}
                    <a href="{{ task.project.get_absolute_url }}">{{ task.project.name }}</a>
                {% else %}
                    {{ task.project.name }}
                {% endif %}
                {% if task.project.github_project_url %}
                    ( <a href="{{ task.project.github_project_url }}">github</a> )
                {% endif %}
            </td>
            {% for username, effort_total in user_effort_totals.items %}
                {% if task.assignee %}
                    {% if task.assignee.username == username %}
                        <td>
                            <progress value="{{ task.hours_spent_sum_over_days }}" max="{{ effort_total }}"></progress>
                            <font color="#e6e6e6">
                                <i>{{ task.effort_days_remaining }}/{{ effort_total }}</i>
                            </font>
                        </td>
                    {% endif %}
                {% endif %}
            {% endfor %}
            <td>{{ task.latest_kippotaskstatus.state }}</td>
            {% if task.github_issue_html_url %}
                <td><a href="{{ task.github_issue_html_url }}">{{ task.title }}</a></td>
            {% else %}
                <td>{{ task.title }}</td>
            {% endif %}
            <td>{{ task.latest_kippotaskstatus.estimate_days }}</td>
            {% if task.latest_kippotaskstatus.comment %}
                <td>{{ task.latest_kippotaskstatus.comment  | linebreaks |urlize }}</td>
            {% else %}
                <td></td>
            {% endif %}
        </tr>
    {% endfor %}
  </table>
{% endblock %}