{% extends 'bootstrap4/bootstrap4.html' %}

{$ load static %}
{% load i18n %}

{% get_current_language as LANGUAGE_CODE %}

{% load bootstrap4 %}
{% bootstrap_javascript jquery='full' %}
{% bootstrap_css %}
{% block extra_css %}{% endblock %}


{% block bootstrap4_title %}
  {% block title %}Projects{% endblock %}
{% endblock %}

{% block message_block %}
  {% for message in messages %}
      <div class="{{ message|bootstrap_message_classes }} alert-dismissable">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&#215;</button>
          {{ message }}
      </div>
  {% endfor %}
{% endblock %}

{% block bootstrap4_content %}
  <div class="container">
       <p>
            <a href="{% url 'project_status' %}">Projects</a>
            <a href="{% url 'task_status' %}">Tasks</a>
        </p>

        {% autoescape off %}{% bootstrap_messages %}{% endautoescape %}

        {% block content %}(no content){% endblock %}
  </div>
{% endblock %}


{% block extra_js %}{% endblock %}
