{% extends "projects/base.html" %}

{% block title %}Kippo: Active Projects{% endblock %}
{% if chart_script %}
    {% block bootstrap4_extra_head %}
      <link rel="stylesheet" href="https://cdn.pydata.org/bokeh/release/bokeh-1.2.0.min.css" type="text/css" />
    {% endblock %}
{% endif %}

{% block bootstrap4_content %}
<h1>
    <a href="{{URL_PREFIX}}/projects/">Active Projects</a>
    {% if project %}
    :<i><a href="{{ project.get_admin_url }}">{{ project.name }}</a></i>
    {% endif %}
</h1>

  {% if project %}
    <center>
        <table class="table table-sm">
            <caption>Project Details</caption>
            <tr>
                <th scope="row">category</th>
                <td>{{ project.category }}</td>
            </tr>
            <tr>
                <th scope="row">allocated_staff_days</th>
                <td>{{ project.allocated_staff_days }}</td>
            </tr>
            <tr>
                <th scope="row">start-date</th>
                <td>{{ project.start_date }}</td>
            </tr>
            <tr>
                <th scope="row">target-date</th>
                <td>{{ project.target_date }}</td>
            </tr>
            <tr>
                <th scope="row">goals</th>
                <td>{{ project.goals }}</td>
            </tr>
        </table>
    </center>
  {% endif %}

  {% if latest_effort_date %}
    <h4>Latest Effort Date: {{ latest_effort_date }}</h4>
  {% endif %}

  {% if chart_div %}
    <center>
        {{ chart_div |safe }}
     </center>
  {% endif %}

  <table class="table table-striped">
      <caption>Active Project Tasks for Last 2 Weeks</caption>
      <thead  class="thead-dark">
        <tr>
            <th scope="col">Assignee</th>
            <th scope="col">Project</th>
            <th scope="col">Last 2 weeks Effort (hours)</th>
            <th scope="col">State</th>
            <th scope="col">Task</th>
            <th scope="col">Estimate <br/> (staff days)</th>
            <th scope="col">Latest Status</th>
        </tr>
      </thead>
    {% for task in tasks %}
        <tr>
            {% if task.assignee %}
                <td>
                    {{ task.assignee.first_name }} {{ task.assignee.last_name }}
                    (<a href="{{URL_PREFIX}}/tasks/?github_login={{ task.assignee.github_login }}">{{ task.assignee.github_login }}</a>)
                </td>
            {% else %}
                <td></td>
            {% endif %}
            <td>
                {% if task.project.slug %}
                    <a href="{{ task.project.get_absolute_url }}">{{ task.project.name }}</a>
                {% else %}
                    {{ task.project.name }}
                {% endif %}
                {% if task.project.github_project_url %}
                    ( <a href="{{ task.project.github_project_url }}">github</a> )
                {% endif %}
            </td>
            {% for username, effort_total in user_effort_totals.items %}
                {% if task.assignee %}
                    {% if task.assignee.username == username %}
                        <td>
                            <progress value="{{ task.hours_spent_sum_over_days }}" max="{{ effort_total }}"></progress>
                            <font color="#e6e6e6">
                                <i>{{ task.hours_spent_sum_over_days }}/{{ effort_total }}</i>
                            </font>
                        </td>
                    {% endif %}
                {% endif %}
            {% endfor %}
            <td>{{ task.latest_kippotaskstatus.state }}</td>
            {% if task.github_issue_html_url %}
                <td><a href="{{ task.github_issue_html_url }}">{{ task.title }}</a></td>
            {% else %}
                <td>{{ task.title }}</td>
            {% endif %}
            <td>{{ task.latest_kippotaskstatus.estimate_days }}</td>
            {% if task.latest_comment %}
                <td>{{ task.latest_kippotaskstatus.comment  | linebreaks |urlize }}</td>
            {% else %}
                <td></td>
            {% endif %}
        </tr>
    {% endfor %}
  </table>

{% endblock bootstrap4_content %}

{% if chart_script %}
    {% block bootstrap4_extra_script %}
      <script type="text/javascript" src="https://cdn.pydata.org/bokeh/release/bokeh-1.2.0.min.js"></script>
      {{ chart_script|safe }}
    {% endblock %}
{% endif %}