<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Kippo: Active Projects</title>
  <meta name="description" content="inprogress tasks">
  <meta name="author" content="bizlabs">
    <style>
        table tr:nth-child(odd) td{
            background-color: #D6EAF8;
        }
    </style>

  <link rel="stylesheet" href="css/styles.css?v=1.0">
  {% if chart_script %}
      <link rel="stylesheet" href="https://cdn.pydata.org/bokeh/release/bokeh-0.13.0.min.css" type="text/css" />
      <script type="text/javascript" src="https://cdn.pydata.org/bokeh/release/bokeh-0.13.0.min.js"></script>
      {{ chart_script|safe }}
  {% endif %}

  <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
  <![endif]-->
</head>
<body>

<!--
  <table>
    <caption>Member Total Effort for Last 2 Weeks</caption>
    <tr>
        <th>Member</th>
        <th>Last 2 weeks Effort Total (hours)</th>
    </tr>
    {% for username, effort_total in user_effort_totals.items %}
        <tr>
            <td>{{ username }}</td>
            <td>
                <progress value="{{ effort_total }}" max="80"></progress>
                <font color="#e6e6e6">
                    <i>{{ effort_total }}/80</i>
                </font>
            </td>
        </tr>
    {% endfor %}
  </table>
-->
<h1>
    <a href="{{URL_PREFIX}}/projects/">Active Projects</a>
    {% if project %}
    :<i><a href="{{ project.get_admin_url }}">{{ project.name }}</a></i>
    {% endif %}
</h1>

  {% if project %}
    <center>
        <table>
            <caption>Project Details</caption>
            <tr>
                <th>category</th>
                <td>{{ project.category }}</td>
            </tr>
            <tr>
                <th>allocated_staff_days</th>
                <td>{{ project.allocated_staff_days }}</td>
            </tr>
            <tr>
                <th>start-date</th>
                <td>{{ project.start_date }}</td>
            </tr>
            <tr>
                <th>target-date</th>
                <td>{{ project.target_date }}</td>
            </tr>
            <tr>
                <th>goals</th>
                <td>{{ project.goals }}</td>
            </tr>
        </table>
    </center>
  {% endif %}

  {% if chart_div %}
    <center>
        {{ chart_div |safe }}
     </center>
  {% endif %}

  {% if warning %}
    <p>{{ warning }}</p>
  {% endif %}

  <table>
      <caption>Active Project Tasks for Last 2 Weeks</caption>
    <tr>
        <th>Assignee</th>
        <th>Project</th>
        <th>Last 2 weeks Effort (hours)</th>
        <th>State</th>
        <th>Task</th>
        <th>Estimate (staff days)</th>
        <th>Latest Status</th>
    </tr>
    {% for task in tasks %}
        <tr>
            {% if task.assignee %}
                <td>
                    {{ task.assignee.first_name }} {{ task.assignee.last_name }}
                    (<a href="{{URL_PREFIX}}/tasks/?github_login={{ task.assignee.github_login }}">{{ task.assignee.github_login }}</a>)
                </td>
            {% else %}
                <td></td>
            {% endif %}
            <td>
                {% if task.project.slug %}
                    <a href="{{ task.project.get_absolute_url }}">{{ task.project.name }}</a>
                {% else %}
                    {{ task.project.name }}
                {% endif %}
                {% if task.project.github_project_url %}
                    ( <a href="{{ task.project.github_project_url }}">github</a> )
                {% endif %}
            </td>
            {% for username, effort_total in user_effort_totals.items %}
                {% if task.assignee %}
                    {% if task.assignee.username == username %}
                        <td>
                            <progress value="{{ task.hours_spent_sum_over_days }}" max="{{ effort_total }}"></progress>
                            <font color="#e6e6e6">
                                <i>{{ task.hours_spent_sum_over_days }}/{{ effort_total }}</i>
                            </font>
                        </td>
                    {% endif %}
                {% endif %}
            {% endfor %}
            <td>{{ task.latest_taskstatus.state }}</td>
            {% if task.github_issue_html_url %}
                <td><a href="{{ task.github_issue_html_url }}">{{ task.title }}</a></td>
            {% else %}
                <td>{{ task.title }}</td>
            {% endif %}
            <td>{{ task.latest_taskstatus.estimate_days }}</td>
            {% if task.latest_comment %}
                <td>{{ task.latest_comment  | linebreaks |urlize }}</td>
            {% else %}
                <td></td>
            {% endif %}
        </tr>
    {% endfor %}
  </table>
</body>
</html>