  <meta http-equiv="x-ua-compatible" content="ie=edge">
  {% block title %}Kippo: Projects Overview{% endblock %}

  {% block bootstrap4_extra_head %}
      <meta name="description" content="">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

      <link rel="manifest" href="site.webmanifest">
      <link rel="apple-touch-icon" href="icon.png">
      <!-- Place favicon.ico in the root directory -->
      <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
      <link rel="stylesheet" href="{{STATIC_URL}}css/normalize.css">
      <link rel="stylesheet" href="{{STATIC_URL}}css/main.css">
  {% endblock %}

<body>
  <!--[if lte IE 9]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
  <![endif]-->

  {% block bootstrap4_content %}
  <main>
    <h1 id="inprogress-header" class="project-state-header">In-Progress</h1>
    <section id="project-status-inprogress" class="project-state">
      <section id="inprogress_consulting" class="project-inprogress-type">
        <h1>Consulting</h1>
        <ul class="project-inprogress-container">
          {% for project in inprogress_consulting %}
            <li class="project-info-consulting">
              <div class="project-info-content">
                <div class="project-info-header">
                  <h2 class="project-name"><a href="{{project.get_absolute_url}}">{{ project.name }}</a></h2>
                  <h3>{{ project.short_description }}</h3>
                </div>
                <div class="resource-types">
                    <div class="resource-type">
                      <h4 class="resource-type-header">PM</h4>
                      <ul class="resource-project_manager-list">
                        <li>
                          {{ project.project_manager.last_name }}
                        </li>
                      </ul>
                    </div>
                    <div class="resource-type">
                      <h4 class="resource-type-header">Engineers</h4>
                        <ul class="resource-engineer-list">
                          {% for engineer in project.engineers %}
                            <li>
                              {{ engineer.last_name }}
                            </li>
                          {% endfor %}
                        </ul>
                    </div>
                </div>
                <div class="project-info-period">
                  <h3 class="project-period">{{ project.start_date }} - {{ project.target_date }}</h3>
                </div>
              </div>
            </li>

          {% endfor %}
        </ul>
      </section>

      <section id="inprogress_poc" class="project-inprogress-type">
        <h1>Proof of Concept (PoC)</h1>
        <ul class="project-inprogress-container">
          {% for project in inprogress_poc %}
            <li class="project-info-poc">
             <div class="project-info-content">
                <div class="project-info-header">
                  <h2 class="project-name"><a href="{{project.get_absolute_url}}">{{ project.name }}</a></h2>
                  <h3>{{ project.short_description }}</h3>
                </div>
                 <div class="resource-types">
                      <div class="resource-type">
                        <h4 class="resource-type-header">PM</h4>
                        <ul class="resource-project_manager-list">
                          <li>
                            {{ project.project_manager.last_name }}
                          </li>
                        </ul>
                      </div>
                      <div class="resource-type">
                        <h4 class="resource-type-header">Engineers</h4>
                          <ul class="resource-engineer-list">
                            {% for engineer in project.engineers %}
                              <li>
                                {{ engineer.last_name }}
                              </li>
                              {% endfor %}
                          </ul>
                      </div>
                 </div>
                  <div class="project-info-period">
                    <h3 class="project-period">{{ project.start_date }} - {{ project.target_date }}</h3>
                  </div>
             </div>
            </li>
          {% endfor %}
        </ul>
      </section>

      <section id="inprogress_production" class="project-inprogress-type">
        <h1>Production</h1>
        <ul class="project-inprogress-container">
          {% for project in inprogress_production %}
            <li class="project-info-production">
                <div class="project-info-content">
                    <div class="project-info-header">
                        <h2 class="project-name"><a href="{{project.get_absolute_url}}">{{ project.name }}</a></h2>
                        <h3>{{ project.short_description }}</h3>
                    </div>
                    <div class="resource-types">
                      <div class="resource-type">
                        <h4 class="resource-type-header">PM</h4>
                        <ul class="resource-project_manager-list">
                          <li>
                            {{ project.project_manager.last_name }}
                          </li>
                        </ul>
                      </div>
                      <div class="resource-type">
                        <h4 class="resource-type-header">Engineers</h4>
                          <ul class="resource-engineer-list">
                            {% for engineer in project.engineers %}
                              <li>
                                {{ engineer.last_name }}
                              </li>
                        {% endfor %}
                            </ul>
                      </div>
                    </div>
                    <div class="project-info-period">
                      <h3 class="project-period">{{ project.start_date }} - {{ project.target_date }}</h3>
                    </div>
                </div>
            </li>
          {% endfor %}
        </ul>
      </section>
    </section>

    <h1 id="planning-header" class="project-state-header">Planning</h1>
    <section id="project-status-planning" class="project-state">

      <section id="upcoming_consulting">
        <h1>Consulting</h1>
        <ul>
          {% for project in upcoming_consulting %}
            <li class="project-info-consulting">
                <div class="project-info-content">
                    <div class="project-info-header">
                      <h2 class="project-name"><a href="{{project.get_absolute_url}}">{{ project.name }}</a></h2>
                      <h3>{{ project.short_description }}</h3>
                    </div>
                    <div class="resource-types">
                      <div class="resource-type">
                        <h4 class="resource-type-header">PM</h4>
                        <ul class="resource-project_manager-list">
                          <li>
                            {{ project.project_manager.last_name }}
                          </li>
                        </ul>
                      </div>
                      <div class="resource-type">
                        <h4 class="resource-type-header">Engineers</h4>
                          <ul class="resource-engineer-list">
                            {% for engineer in project.engineers %}
                              <li>
                                {{ engineer.last_name }}
                              </li>
                        {% endfor %}
                            </ul>
                      </div>ß
                    </div>
                    <div class="project-info-period">
                        <h3 class="project-period">{{ project.start_date }} - {{ project.target_date }}</h3>
                    </div>
                </div>
            </li>
          {% endfor %}
        </ul>
      </section>
      <section id="upcoming_poc">
        <h1>Proof of Concept (PoC)</h1>
        <ul>
          {% for project in upcoming_poc %}
            <li class="project-info-poc">
                <div class="project-info-content">
                    <div class="project-info-header">
                      <h2 class="project-name"><a href="{{project.get_absolute_url}}">{{ project.name }}</a></h2>
                      <h3>{{ project.short_description }}</h3>
                    </div>
                    <div class="resource-types">
                      <div class="resource-type">
                        <h4 class="resource-type-header">PM</h4>
                        <ul class="resource-project_manager-list">
                          <li>
                            {{ project.project_manager.last_name }}
                          </li>
                        </ul>
                      </div>
                      <div class="resource-type">
                        <h4 class="resource-type-header">Engineers</h4>
                          <ul class="resource-engineer-list">
                            {% for engineer in project.engineers %}
                              <li>
                                {{ engineer.last_name }}
                              </li>
                        {% endfor %}
                            </ul>
                      </div>
                    </div>
                    <div class="project-info-period">
                        <h3 class="project-period">{{ project.start_date }} - {{ project.target_date }}</h3>
                    </div>
                </div>
            </li>
          {% endfor %}
        </ul>
      </section>
      <section id="upcoming_production">
        <h1>Production</h1>
        <ul>
          {% for project in upcoming_production %}
            <li class="project-info-production">
                <div class="project-info-content">
                    <div class="project-info-header">
                        <h2 class="project-name"><a href="{{project.get_absolute_url}}">{{ project.name }}</a></h2>
                        <h3>{{ project.short_description }}</h3>
                    </div>
                    <div class="resource-types">
                        <div class="resource-type">
                          <h4 class="resource-type-header">PM</h4>
                          <ul class="resource-project_manager-list">
                            <li>
                              {{ project.project_manager.last_name }}
                            </li>
                          </ul>
                        </div>
                        <div class="resource-type">
                          <h4 class="resource-type-header">Engineers</h4>
                            <ul class="resource-engineer-list">
                              {% for engineer in project.engineers %}
                                <li>
                                  {{ engineer.last_name }}
                                </li>
                              {% endfor %}
                            </ul>
                        </div>
                    </div>
                    <div class="project-info-period">
                      <h3 class="project-period">{{ project.start_date }} - {{ project.target_date }}</h3>
                    </div>
                </div>
            </li>
          {% endfor %}
        </ul>
      </section>
    </section>
  </main>
  {% endblock %}
  {% block bootstrap4_extra_script %}
      <script src="{{STATIC_URL}}js/vendor/modernizr-3.6.0.min.js"></script>
      <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
      <script>window.jQuery || document.write('<script src="js/vendor/jquery-3.3.1.min.js"><\/script>')</script>
  {% endblock %}
